@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@import "./amethyst-haze.css";


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}